<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="never" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{{$.Data.Title}} - Twilight</title>
{{/*    <meta name="description" content="{{$.Data.Remark}}"/>*/}}
    {{if .Data}}
        <meta name="keywords" content="{{$.Data.Tag}}">
    {{end}}
    <link rel="shortcut icon" href="/static/img/title.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/blog-common.min.css" />
    <link id="MainCss" rel="stylesheet" href="/static/css/bundle-codinglife.min.css" />
    <link rel="stylesheet" href="/static/md/css/editormd.preview.css" />
    <link id="mobile-style" media="only screen and (max-width: 767px)" type="text/css" rel="stylesheet" href="/static/css/bundle-codinglife-mobile.min.css" />
    <link rel="stylesheet" href="/static/css/bgColor.css" />
    <link rel="stylesheet" type="text/css" href="https://csdnimg.cn/release/blogv2/dist/pc/css/detail_enter-9ea6f77580.min.css">
</head>
<style>
    .editormd-html-preview {
        width: unset;
    }
    .like{
        display: block;
        width: 160px;
        margin: 20px auto;
        background: #E2523A;
        color: #fff;
        box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2);
        border-radius: 3px;
        line-height: 40px;
        text-align: center;
    }
    .like a {
        color: #fff !important;
    }
    blockquote{
        border-left:3px solid green;
        background-color:#ccc;
        margin-left:4em;
    }
    ol li{
        list-style-type: decimal;
    }
    ul li{
        list-style-type: disc;
    }
    .title-article {
        font-size: 28px;
        word-wrap: break-word;
        color: #222226;
        font-weight: 600;
        margin: 0;
        word-break: break-all;
    }
    .article-read-img, .article-collect-img {
        width: 24px;
        height: 24px;
    }
</style>
<body>
<a name="top"></a>
<div id="page_begin_html">
    <a href="https://github.com/tuweiguang">
        <img style="position: fixed; top: 0; right: 0; border: 0; z-index: 9999" src="/static/images/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>
</div>

<!--done-->
<div id="home">
    {{template "front-header.html" .}}

    <div id="main">
        <div id="mainContent" style="margin-bottom: 20px">
            <div class="forFlow">
                <div id="post_detail">
                    <!--done-->
                    <div id="topics">
                        <div class="post">
                            <h1 class = "postTitle">
                                <a id="cb_post_title_url" class="postTitle2 title-article" href="javascript:;">
                                    {{if .Data}}
                                        {{$.Data.Title}}
                                    {{end}}
                                </a>
                            </h1>
                            <div class="postDesc">
                                {{if .Data}}
                                    <span id="post-date">{{dateformat $.Data.CreatedAt "2006-01-02 15:04:05"}}</span>&nbsp;
                                    <a href="javascript:;">{{$.Data.User.Name}}</a> <img class="article-read-img" src="/static/img/articleReadEyes.png" alt=""> <span id="post_view_count">{{$.Data.Pv}}</span> <img class="article-collect-img" src="/static/img/tobarCollect.png" alt=""> <span id="post_comment_count">{{$.Data.Review}}</span>
                                    <span style="margin-left: 5px">标签：</span><a href="javascript:;">{{$.Data.Tag}}</a>
                                    <span style="margin-left: 5px">分类：</span><a href="javascript:;">{{$.Data.Category.Name}}</a>
                                {{end}}
                            </div>

                            <div class="clear"></div>
                            <div class="postBody markdown-body editormd-html-preview" id="postBody">
                                {{$.Data.Content}}
                            </div>
                            <div>
                                <span class="like">
                                    <a href="javascript:;"> 很赞哦！ </a>
                                    {{if .Data}}
                                        <span>({{$.Data.Like}})</span>
                                    {{end}}
                                </span>
                            </div>
                        </div>

                    </div><!--end: topics 文章、评论容器-->
                </div>
            </div>
{{/*            {{template "front-review.html" .}}*/}}
            <!--end: forFlow -->
        </div><!--end: mainContent 主体内容容器-->

        <div id="sideBar">
            {{template "front-right.html" .}}
            <!--end: sideBarMain -->
        </div><!--end: sideBar 侧边栏容器 -->
        <div class="clear"></div>
    </div><!--end: main -->

    {{template "front-footer.html" .}}
    <!--end: footer -->
</div><!--end: home 自定义的最大容器 -->
</body>
</html>
<script src="/static/js/jquery-2.2.0.min.js"></script>
<script>
    $(function () {
        {{/*$.ajax({*/}}
        {{/*    url:'/pv/{{$.Data.Id}}.html',*/}}
        {{/*    type:'get',*/}}
        {{/*    success:function (data) {*/}}
        {{/*        console.log(data);*/}}
        {{/*    }*/}}
        {{/*});*/}}

        $(".like a").click(function () {
            $.ajax({
                url:'/article/like',
                type:'post',
                data:{"id":{{$.Data.Id}}},
                success:function (data) {
                    if(data.code == 200) {
                        $(".like span").html("(" + data.like + ")")
                    }
                }
            });
        })
    })

</script>

<script>
    //调用示例
    layer.photos({
        photos: 'body'
        /*,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）*/
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    // 防止html内容转义
    function htmlDecode ( str ) {
        var ele = document.createElement('span');
        ele.innerHTML = str;
        return ele.textContent;
    }

    function PreventEscape() {
        var html = document.getElementById("postBody");
        html.innerHTML = htmlDecode(html.innerHTML);
    }
    //PreventEscape();

    function MD2HTML() {
        var text = document.getElementById("postBody").innerHTML;
        text = text.replace(/(^\s*)/g, ""); //去除前面空格
        text = text.replace(/&gt;/g,">");//将&gt;转成>
        document.getElementById("postBody").innerHTML = marked(text);
    }
    MD2HTML();
</script>