<link rel="stylesheet" href="/static/lib/layui/css/layui.css" />
<div class="clear" style="height: 80px"></div>
<div class="diyBg" id="footer"
     style="background-color: #169fe6;
            /*position: fixed;*/
            bottom: 0px;
            /*width: 100%;*/
            /*border-top: 2px solid;*/
            border: 1px solid #138cca;
            margin-bottom: 0px;
            text-align: center;
            z-index: 999;
            color: #FFFFFF;
">
{{/*    Copyright &copy; {{dateformat .T "Y"}} gBlog  本站由 <a href="http://go-blog.cn" target="_blank" style="color:#d0cfcf">gBlog</a> 构建*/}}
    Copyright &copy; {{dateformat .Time "2006"}} gBlog  本站由 <a href="https://github.com/tuweiguang/gBlog-developing" target="_blank" style="color:#d0cfcf">gBlog</a> 构建
    <span>
        <div style="margin-top: 10px">
            <span class="site-uv">
                <i class="layui-icon">&#xe66f;</i> 本站访客数
                <span class="busuanzi-value" id="busuanzi_value_site_uv">{{$.UV}}</span>人次
            </span>
            |
            <span class="site-pv">
                <i class="layui-icon">&#xe62c;</i> 本站总访问量
                <span class="busuanzi-value" id="busuanzi_value_site_pv">{{$.PV}}</span>
              次
            </span>
        </div>
    </span>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
{{/*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d8581f21ed7c622"></script>*/}}
