<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>Twilight</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
{{/*    <meta content="" name="description" />*/}}
{{/*    <meta content="" name="keywords" />*/}}
{{/*    <meta content="" name="author" />*/}}
    <link rel="shortcut icon" href="/static/front/images/title.jpg" type="image/x-icon">

    <link href="/static/front/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/front/css/jpreloader.css" rel="stylesheet" type="text/css">
    <link href="/static/front/css/style.css" rel="stylesheet" type="text/css" />
    <link id="colors" href="/static/front/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
    <link href="/static/front/css/coloring.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/static/css/slidepage.css">
    <link rel="stylesheet" href="/static/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <style type="text/css">
        #my-btn {
            position: absolute;
            top:90%;
            left:90%;
            margin-left:-60px;

            /*内容设置*/
            font-size: large;
            color: #44ee44;

            /*透明*/
            background-color:transparent;
            border-style:none;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <!-- header begin -->
    <header class="transparent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center header-col-left">
                            <div id="logo">
                                <a href="/">
                                    gBlog
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header close -->

    <!-- content begin -->
    <div class="no-bottom no-top" id="content">
{{/*        <!-- section begin -->*/}}
        <section id="section-main" class="vertical-center relative">
            <a id="my-btn" class="btn-custom"  href="/list.html">进入博客</a>

            <div id="custom-owl-slider" class="owl-slide owl-carousel owl-theme">
                <div class="item">
                    <img src="/static/front/images/background/11.gif" alt="">
                </div>
            </div>
        </section>
    </div>
</div>
    <script src="/static/front/js/jquery.min.js"></script>
    <script src="/static/front/js/jpreLoader.min.js"></script>
    <script src="/static/front/js/easing.js"></script>
    <script src="/static/front/js/jquery.stellar.min.js"></script>
    <script src="/static/front/js/jquery.plugin.js"></script>
    <script src="/static/front/js/designesia.js"></script>
</body>
</html>
